//- layout/_base.pug
html(lang="en" prefix="og: http://ogp.me/ns#")

  include ../partials/_stamp
  block setting

  head
    block head
      include ../partials/_meta
      include ../partials/_statics
    block fonts
      include ../partials/_fonts
    block styles
      include ../partials/_styles
      include ../partials/_analytics

  if bodyClass
    body(class=`${bodyClass}`)
      .wrapper
        block wrapper
      block scripts
        include ../partials/_scripts
  else
    body
      .wrapper
        block wrapper
      block scripts
        include ../partials/_scripts
