//- includes/_all-display.pug
section.display
  .desktop#desktop
    iframe.inner(src="https://example.com")
  .laptop#laptop
    iframe.inner(src="https://example.com")
  .tablet#tablet
    iframe.inner(src="https://example.com")
  .mobile#mobile
    iframe.inner(src="https://example.com")
  .watch#watch
    iframe.inner(src="https://example.com")
