//- includes/_display.pug
section.display
  .desktop#desktop
    iframe.inner(src="https://adorade.ro")
  .laptop#laptop
    iframe.inner(src="https://adorade.ro")
  .tablet#tablet
    iframe.inner(src="https://adorade.ro")
  .mobile#mobile
    iframe.inner(src="https://adorade.ro")
  .watch#watch
    iframe.inner(src="https://adorade.ro")
