//- includes/_display.pug
.wrapper
  section.display
    .mobile.inner
      iframe#mobile(src="https://adorade.ro")
    .tablet.inner
      iframe#tablet(src="https://adorade.ro")
    .laptop.inner
      iframe#laptop(src="https://adorade.ro")
    .desktop.inner
      iframe#desktop(src="https://adorade.ro")
