//- includes/_form.pug
section.url
  form#urlform(name="urlform" action="#")
    .input-group
      .input-group-prepend
        span.input-group-text URL

      input.form-control#url(
        name="url" type="url" placeholder="https://example.com"
        aria-label="https://example.com" aria-describedby="basic-url")

      .input-group-append
        button.btn.btn-primary(type="button") GO
