//
// Gradients
// -----------------------------------------------------------------------------

// CSS3 Radial Gradients
// --------------------------
// Shape is ellipse, size is farthest-corner, and position is center ( default )
// ## Usage: @include gradient-radial-ellipse(#555, #333);
@mixin gradient-radial-ellipse($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(ellipse, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Shape is ellipse, size is farthest-corner, and position is top
// ## Usage: @include gradient-radial-ellipse-top(#555, #333);
@mixin gradient-radial-ellipse-top($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(ellipse at top, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Shape is ellipse, size is farthest-corner, and position is bottom
// ## Usage: @include gradient-radial-ellipse-bottom(#555, #333);
@mixin gradient-radial-ellipse-top($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(ellipse at bottom, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Shape is circle, size is farthest-corner, and position is center
// ## Usage: @include gradient-radial-circle(#555, #333);
@mixin gradient-radial-circle($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(circle, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Shape is circle, size is farthest-corner, and position is top
// ## Usage: @include gradient-radial-circle-top(#555, #333);
@mixin gradient-radial-circle-top($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(circle at top, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Shape is circle, size is farthest-corner, and position is bottom
// ## Usage: @include gradient-radial-circle-bottom(#555, #333);
@mixin gradient-radial-circle-bottom($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(circle at bottom, $inner-color 0%, $outer-color 100%);
  background-repeat: no-repeat;
}

// Custom Gradients
// --------------------------
// Carbon Fibre
// Usage:  @include radial-gradient-carbon-fibre(#dddddd);
@mixin carbon-fibre($fallback) {
  background-image:
    radial-gradient(rgb(0, 0, 0) 15%, transparent 16%),
    radial-gradient(rgb(0, 0, 0) 15%, transparent 16%),
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%),
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%);
  background-position: 0 0, .5rem .5rem, 0 .0625rem, .5rem .5625rem;
  background-size: 1rem 1rem;
  background-color: $fallback;
}

@mixin carbon($fallback) {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-size: 20px 20px;
  background-color: $fallback; // default value: #131313;
}

@mixin print-stripe($fallback) {
  background-image:
    linear-gradient(rgba(255, 255, 255, 1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 1) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-color: $fallback; // default value: #269
}
