//- partials/_analytics.pug
//--- Google Analytics (analytics.js) - Async tracking snippet
script.
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-81488219-1', 'auto', {
    //- Set the user ID using signed-in user_id.
    userId: 'Us19Er69'
  });
  ga('send', 'pageview');
script(async src="https://www.google-analytics.com/analytics.js")
