//- partials/_scripts.pug
block external-js
  //- jQuery first... then custom scripts
  script(
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous")

block custom-js
  //- script(defer src="js/script.js")
  script(defer src="js/script.min.js")
