//- partials/_stamp.pug
//
 .____   __________  ___________   _________ __________  ________      ____.
 |   _|  \______   \ \_   _____/  /   _____/ \______   \ \_____  \    |_   |
 |  |     |       _/  |    __)_   \_____  \   |     ___/  /   |   \     |  |
 |  |     |    |   \  |        \  /        \  |    |     /    |    \    |  |
 |  |_    |____|_  / /_______  / /_______  /  |____|     \_______  /   _|  |
 |____|          \/          \/          \/       since 2019     \/   |____|
