//- partials/_styles.pug
block external-css
  // Respo CSS Files
  link(
    rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous")

block custom-css
  //- link(rel="stylesheet" href="css/style.css")
  link(rel="stylesheet" href="css/style.min.css")
