//
// Respo - style.scss
// ============================================================================

@import "includes/gradients";

body {
  // @include carbon-fibre(#222);
  // background-color: #212121;
  background-color: #47e3ff;
  font-family: Roboto, sans-serif;
}

.display {
  position: relative;
  width: 1200px;
  height: 730px;
  margin: 140px auto;
}

.url {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(#343a40, .5);

  form {
    display: flex;
    width: 100%;
    margin: 1rem;
  }
}

.watch,
.mobile,
.tablet,
.laptop,
.desktop {
  position: absolute;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  line-height: 0;

  .inner {
    position: relative;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    border: 0;
    background-color: #000;
    transform: scale(.3);
    transform-origin: top left;
  }
}

.watch {
  top: 440px;
  left: 420px;
  width: 152px;
  height: 283px;
  background-image: url(../images/apple-watch.png);

  .inner {
    top: 83px;
    left: 29px;
    width: 312px;
    height: 390px;
  }
}

.mobile {
  top: 390px;
  left: 230px;
  width: 164px;
  height: 300px;
  background-image: url(../images/iphone-portrait.png);

  .inner {
    top: 40px;
    left: 20px;
    width: 414px;
    height: 736px;
  }
}

.tablet {
  top: 300px;
  left: 40px;
  width: 273px;
  height: 382px;
  background-image: url(../images/ipad-portrait.png);

  .inner {
    top: 38px;
    left: 22px;
    width: 768px;
    height: 1024px;
  }
}

.laptop {
  top: 340px;
  left: 620px;
  width: 566px;
  height: 340px;
  background-image: url(../images/laptop-screen.png);

  .inner {
    top: 27px;
    left: 67px;
    width: 1440px;
    height: 900px;
  }
}

.desktop {
  top: 0;
  left: 136px;
  width: 831px;
  height: 642px;
  background-image: url(../images/large-screen.png);

  .inner {
    top: 37px;
    left: 32px;
    width: 2560px;
    height: 1440px;
  }
}
